@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gradient: linear-gradient(-45deg, #020024, #090979, #0569b8, #00d4ff);
}
  
.main {
background: #ddd;
background-size: 300%;
background-image: var(--gradient);
animation: bg-animation 15s infinite;
}
  
@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}